body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    color: #f3ba5e;
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f7d;
}

#signup {
    position: absolute;
    top: 20px;
    right: 20px;
}

#signin {
    position: absolute;
    top: 20px;
    right: 110px;
}

.menu {
    margin-bottom: 7px;
}
