body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-top: 10px;
}
select, input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
code {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 10px;
}
.submit, button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.question {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
#homepage {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#error_message {
    color: #f32020;
    font-size: xx-large;
}
#score {
    color: #f3ba5e;
    font-size: xx-large;
}
